html, body{
  width: 100%;
  margin: 0px;
}

body{
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
  }

  .section1, .footer{
    background-color: #1f2937;
  }

  .first{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 75px;
  }
  
  .infobox{
    margin: 0px 75px 75px 75px;
    flex: 1;
  }
  
  .picture{
    width: 500px;
    flex: 1;
  }

  .me, .quote{
    color: #1f2937;
  }

  .head1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
  }

  .para1{
    font-weight: 18px;
    color: #e5e7eb;
  }

  .logo{
    color: white;
    margin-right: 5%;
  }
  
  .section2{
    padding: 25px;
  }

  .me{
    text-align: center;
    font-size: 36px;
    font-weight: 500px;
    margin-bottom: 7%;
  }

  .info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
    flex-wrap: wrap;
  }

  .info p{
    width: 200px;
  }
  
  .infopic{
    width: 200px;
    height: 200px;
    flex: 1;
    border: rgb(0, 119, 255);
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
  }

  .section3{
    background-color: #E5e7eb;
    padding: 15%;
  }

  .text{
    font-size: 36px;
    font-style: italic;
  }

  .author{
    text-align: end;
    font-size: 24px;
    font-weight: bold;
  }

  .section4{
    padding: 5% 20%;
    display: flex;
    justify-content: center;
  }

  .box{
    background-color: #3882f6;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    flex: 1;
  }

  .boxtext h4{
    margin-bottom: -6%;
    font-size: 18px;
  }

  .boxtext p{
    padding-bottom: 4%;
  }

  .click{
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
  }

  .Help{
    color: white;
    border-style: solid;
    border-color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }

  .footer{
    text-align: center;
    color: #E5e7eb;
  }
